Weights:
  DA3: './weights/model.safetensors'
  DA3_CONFIG: './weights/config.json'
  SALAD: './weights/dino_salad.ckpt'

Model:
  chunk_size: 120    # 処理するチャンクのフレーム数
  overlap: 60       # チャンク間のオーバーラップ（接続用）
  loop_chunk_size: 20 # ループ検出時のチャンクサイズ
  loop_enable: True   # ループクロージャ（軌跡補正）を有効にするか
  useDBoW: False
  delete_temp_files: True
  align_lib: 'triton' # アライメント用のライブラリ (triton/torch/numba/numpy)
  align_method: 'sim3' # 補正手法 (sim3: スケール込み回転移動)
  scale_compute_method: 'auto'
  align_type: 'dense'

  ref_view_strategy: 'saddle_balanced' # 'middle', 'saddle_balanced', 'first' or 'saddle_sim_range'
  ref_view_strategy_loop: 'saddle_balanced' # 'middle', 'saddle_balanced', 'first' or 'saddle_sim_range'
  depth_threshold: 30.0

  save_depth_conf_result: True
  save_debug_info: False

  Sparse_Align:
    keypoint_select: 'orb' # choose among 'orb', 'fast' or 'disk'
    keypoint_num: 5000

  IRLS:
    delta: 0.1
    max_iters: 5
    tol: 1e-9

  Pointcloud_Save:
    sample_ratio: 0.05
    conf_threshold_coef: 0.00 # conf_threshold = np.mean(confs) * conf_threshold_coef

Loop:
  SALAD:
    image_size: [336, 336]
    batch_size: 32
    similarity_threshold: 0.85 # ループ検出のしきい値。低いほど見つかりやすいが誤検知も増える。
    top_k: 5 # 各フレームに対して検索する近傍候補数
    use_nms: True # 非最大値抑制を使い、連続するフレームでの重複検知を防ぐ
    nms_threshold: 25 # ループ判定から除外する近接フレーム数（時間的距離）
    min_sequence_len: 3 # 連続してマッチしたフレーム数。これ未満の単発マッチは除外する。推奨: 3-5
    residual_threshold: 0.5 # 幾何学的許容誤差（しきい値）。これを超えると誤ループとして破棄する。



  SIM3_Optimizer:
    lang_version: 'cpp'
    # choose between 'cpp' or 'python'. will auto set 'python' if c++ version has not installed
    max_iterations: 30
    lambda_init: 1e-6
